@use "../../styles/" as *;

.container {
  max-width: 1300px;
  min-height: 100%;
  margin: 0 auto;
  padding: 0 10px;
}

.main {
  flex: 1 1 auto;
  background-color: col(bg-main);
}

.header {
  border-bottom: 1px solid col(border);
  margin-bottom: 15px;
}