@use "./styles/" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
  line-height: 1;
}

:root {
  @each $name, $color in $colors {
    --color-#{$name}: #{$color};
  }
}

html,
body {
  width: 100%;
  height: 100%;
  background-color: col(bg-main);
  color: col(text-main);
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
